# IDE
.idea/

# Data files
data/

# SLURM batch scripts
sbatch

# Neptune logs
neptune/

# OS files
.DS_Store

# Python caches
__pycache__/
*.py[cod]
*.pyd

# Jupyter / IPython
.ipynb_checkpoints/

# Common local artifacts
.env
*.log

